<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.ga %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= htmlWebpackPlugin.options.ga %>');
    </script>

    <link rel="manifest" href="/manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=block" rel="stylesheet">
</head>
<body>
<div id="root"></div>
</body>
