.container {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  background: #4795ff;
  color: #fff;
  z-index: 2;
  border-bottom: 1px solid #2c61a9;
}

.main {
  display: flex;
  flex: 1;
}

.flex {
  flex: 1;
}

.editor {
  flex: 3;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: #444;
  color: white;
}

.files {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.file {
  cursor: pointer;
  padding: 12px 16px;
  transition: background-color 0.25s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  max-width: 25vw;
}

.file:hover {
  background-color: #3168b380;
}

.file.selected {
  background-color: #3168b3;
}

.dropzone {
  cursor: pointer;
  background: #4795ff;
  color: white;
  padding: 16px;
  transition: background-color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 200%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dropzone:focus {
  outline: none;
}

.download {
  cursor: pointer;
  background: #00bb00;
  color: white;
  padding: 16px;
  box-sizing: border-box;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.download:hover {
  background: #36b536;
}

.error {
  background: red;
  color: white;
}

.message {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.monaco {
  flex: 1;
}

.filename {
  background: #4795ff;
  color: white;
  padding: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  line-height: 1;
}

.reset {
  border: none;
  background: none;
  cursor: pointer;
}

.zipfile {
  padding: 8px;
  display: flex;
  align-items: center;
  text-shadow: 0 1px 1px #444;
}

.reset {
  border: none;
  background: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset:focus {
  outline: none;
}

.logo {
  width: 32px;
  height: 32px;
  transition: width 0.25s, height 0.25s;
}

.fullscreen .logo {
  width: 64px;
  height: 64px;
  padding: 8px 0;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen .header {
  border-bottom: none;
}

.github-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  margin: 0 16px;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-size: inherit;
  transition: background-color 0.25s;
  background: #273e7c77;
  text-transform: uppercase;
}

.button:hover {
  background: #273e7c
}

.button:focus {
  outline: none;
}

.install {
  background: #273e7c00;
}

.install:hover {
  background: #273e7c77;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 1px 1px #444;
}

.intro .button {
  margin: 32px 0;
}

.extensions {
  font-size: 50%;
}
